/* Home.css */
.home {
    margin: 20%; /* Justera detta värde efter höjden på din header */
    padding: 20px;
    text-align: center; /* Centrera texten horisontellt */
}

.home h1 {
    font-size: 32px; /* Justera storleken på rubriken efter behov */
    margin-bottom: 20px; /* Justera avståndet nedanför rubriken */
}

.home h3 {
    font-size: 24px; /* Justera storleken på underrubriken efter behov */
    margin-bottom: 20px; /* Justera avståndet nedanför underrubriken */
}

.home h5 {
    font-size: 18px; /* Justera storleken på den mindre texten efter behov */
    color: #666; /* Justera färgen på texten efter behov */
}
