/* Navigation */

.navigation {
  display: flex;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #333;
}

.navigation-list {
  list-style-type: none;
  display: flex;
}

.navigation-item {
  margin-right: 10px;
}

.navigation-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px; /* Ökade textstorleken för länkarna */
  color: #9D9D9D;
  text-decoration: none;
  padding: 20px;
}

.navigation-link.active {
  color: grey;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .navigation-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
  }

  .navigation-list.open {
    display: flex;
  }

  .navigation-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
