.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

.contact-container h2::after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #007bff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.form-fields {
  flex: 1;
  margin-right: 20px; /* Space between form fields and image */
}

.form-group {
  margin-bottom: 15px;
}

.form-input,
.form-textarea,
.form-name {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-textarea {
  height: 150px;
}

.form-submit {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
}

.form-label {
  margin-bottom: 8px;
  font-weight: bold;
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
