.booking-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    text-align: center;
}

.booking-header {
    font-size: 32px; /* Justera storleken på rubriken efter behov */
    margin-bottom: 10px;
}

.booking-description {
    font-size: 18px; /* Justera storleken på beskrivningen efter behov */
    color: #666; /* Justera färgen på texten efter behov */
    margin-bottom: 20px; /* Justera avståndet nedanför beskrivningen */
}

.booking-form-container {
    width: 100%; /* Formuläret tar upp hela bredden av föräldern */
    max-width: 400px; /* Justera bredden på formuläret efter behov */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

.booking-form label {
    margin-bottom: 10px;
    text-align: left;
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="date"],
.booking-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.confirmation-popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.confirmation-popup button {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirmation-popup button:hover {
    background: #0056b3;
}
