.booking-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Anpassa höjden efter behov */
}

.booking-header {
    font-size: 32px; /* Justera storleken på rubriken efter behov */
    margin-bottom:10%; /* Justera avståndet nedanför rubriken */
}

.booking-description {
    font-size: 18px; /* Justera storleken på beskrivningen efter behov */
    color: #666; /* Justera färgen på texten efter behov */
    margin-bottom: 10%; /* Justera avståndet nedanför beskrivningen */
}

.booking-form {
    width: 100%; /* Formuläret tar upp hela bredden av föräldern */
    max-width: 400px; /* Justera bredden på formuläret efter behov */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.booking-form label {
    margin-bottom: 10px;
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
